@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;600;700;900&family=Josefin+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  color: #191919;
  background-color: #F0EFE9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 50px;
  padding: 0 10px 0 10px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 86px;
  }
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 45px;
  }
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #F94D1C;
  font-weight: 900;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 18px;
  }
}

h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-generic {
  display: flex;
  color: #191919;
  text-decoration: none;
  padding-left: 28px;
  padding-right: 22px;
  height: 52px;
  align-items: center;
  border-radius: 26px;
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 768px) {
  .btn-generic {
    font-size: inherit;
  }
}
.btn-generic i {
  margin-left: 18px;
  font-size: 0.9em;
}
.btn-generic.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
}
.btn-generic.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
}
.btn-generic.btn-grey {
  background-color: #F0EFE9;
  border: 1px solid #191919;
}
.btn-generic.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}
.btn-generic:hover {
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  color: #ffffff;
}

.section-title {
  text-align: center;
}
@media (min-width: 992px) {
  .section-title {
    text-align: inherit;
  }
}
.section-title h4 {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .section-title h4 {
    margin-bottom: 25px;
  }
}

header {
  background-color: #F0EFE9;
  padding-bottom: 10px;
}
header .header-wrp {
  height: 100px;
  display: grid;
  grid-template-columns: 70px auto;
  padding-left: 0;
  padding-right: 70px;
  grid-template-areas: "header-burgerbutton header-logo";
}
@media (min-width: 768px) {
  header .header-wrp {
    height: 121px;
  }
}
@media (min-width: 768px) {
  header .header-wrp {
    grid-template-columns: 208px auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "header-logo header-top" "header-logo header-bottom";
    padding-right: 0px;
    padding-left: 19px;
  }
}
header .header-wrp .header-burgerbutton {
  grid-area: header-burgerbutton;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
@media (min-width: 768px) {
  header .header-wrp .header-burgerbutton {
    display: none;
  }
}
header .header-wrp .header-logo {
  display: flex;
  grid-area: header-logo;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  header .header-wrp .header-logo {
    justify-content: left;
  }
}
header .header-wrp .header-top {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #DAD9D3;
  grid-area: header-top;
}
@media (min-width: 768px) {
  header .header-wrp .header-top {
    display: flex;
  }
}
header .header-wrp .header-top .header-top-contactinfo {
  display: flex;
  font-size: 13.5px;
  font-weight: 300;
}
header .header-wrp .header-top .header-top-contactinfo a {
  color: #191919;
  text-decoration: none;
}
header .header-wrp .header-top .header-top-contactinfo a:hover {
  color: #aaaaaa;
}
header .header-wrp .header-top .header-top-contactinfo .header-top-contactinfo-contact {
  border-left: 2px solid #DAD9D3;
  padding: 5px 0 2px 15px;
  margin-left: 40px;
}
header .header-wrp .header-top .header-top-contactinfo .header-top-contactinfo-contact#firstcontact {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}
header .header-wrp .header-top .header-top-contactinfo .header-top-contactinfo-contact#lastcontact {
  display: none;
}
@media (min-width: 1200px) {
  header .header-wrp .header-top .header-top-contactinfo .header-top-contactinfo-contact#lastcontact {
    display: block;
  }
}
header .header-wrp .header-top .header-top-contactinfo .header-top-contactinfo-contact i {
  padding-right: 8px;
}
header .header-wrp .header-top .header-top-somedicons a {
  color: #191919;
  padding-left: 15px;
}
header .header-wrp .header-top .header-top-somedicons a:hover {
  color: #aaaaaa;
}
header .header-wrp .header-bottom {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  grid-area: header-bottom;
}
@media (min-width: 768px) {
  header .header-wrp .header-bottom {
    display: flex;
  }
}
header .header-wrp .header-bottom nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
header .header-wrp .header-bottom nav .current-nav, header .header-wrp .header-bottom nav a:hover {
  position: relative;
}
header .header-wrp .header-bottom nav .current-nav::before, header .header-wrp .header-bottom nav a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 17px;
  border-bottom: 2px solid #191919;
}
header .header-wrp .header-bottom nav a {
  color: #191919;
  text-decoration: none;
}
header .header-wrp .header-bottom nav a:hover {
  color: #aaaaaa;
}
header .header-wrp .header-bottom nav a:hover::before {
  border-bottom: 2px solid #aaaaaa;
}

main .showcase {
  position: relative;
  background-color: #F0EFE9;
  z-index: 0;
}
main .showcase .showcase-wrp {
  display: flex;
  padding: 20px 0 0 0;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp {
    padding: 0;
  }
}
main .showcase .showcase-wrp .showcase-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .showcase .showcase-wrp .showcase-content h1 {
  text-align: center;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp .showcase-content h1 {
    text-align: inherit;
  }
}
main .showcase .showcase-wrp .showcase-content .showcase-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 0 10px 0 10px;
  text-align: center;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp .showcase-content .showcase-paragraph {
    text-align: inherit;
    padding: 0px;
  }
}
main .showcase .showcase-wrp .showcase-content .showcase-content-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp .showcase-content .showcase-content-buttons {
    justify-content: flex-start;
  }
}
main .showcase .showcase-wrp .showcase-picture {
  position: relative;
}
main .showcase .showcase-wrp .showcase-picture .showcase-picture-main {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp .showcase-picture .showcase-picture-main {
    display: block;
    padding-right: 100px;
    padding-top: 50px;
  }
}
main .showcase .showcase-wrp .showcase-picture .showcase-picture-squiggle {
  position: absolute;
  right: -65px;
  top: 375px;
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .showcase-wrp .showcase-picture .showcase-picture-squiggle {
    display: block;
  }
}
main .showcase .showcase-white-squiggle {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: -1;
  width: min(100%, 70vw);
}
main .projects {
  background-color: #FFFFFF;
}
main .projects .projects-wrp {
  text-align: center;
}
main .projects .projects-wrp h4 {
  padding-top: 32px;
}
@media (min-width: 1200px) {
  main .projects .projects-wrp h4 {
    margin-top: 124px;
  }
}
main .projects .projects-wrp h2 {
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  main .projects .projects-wrp h2 {
    margin-bottom: 86px;
  }
}
main .projects .projects-wrp .projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 992px) {
  main .projects .projects-wrp .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
main .projects .projects-wrp .projects-grid .projects-grid-card {
  color: #191919;
  text-decoration: none;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main .projects .projects-wrp .projects-grid .projects-grid-card img {
  width: 100%;
  height: auto;
}
main .projects .projects-wrp .projects-grid .projects-grid-card h6 {
  text-align: start;
  border-bottom: 3px solid #E7E7E7;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  main .projects .projects-wrp .projects-grid .projects-grid-card h6 {
    padding-top: 38px;
    margin-bottom: 38px;
  }
}
main .projects .projects-wrp .projects-grid .projects-grid-card:hover .readmorelink, main .projects .projects-wrp .projects-grid .projects-grid-card:hover h6 {
  color: #aaaaaa;
}
main .projects .projects-wrp .projects-grid .projects-grid-card .readmorelink {
  text-align: end;
  font-size: 14px;
  font-weight: 500px;
}
main .projects .projects-wrp .projects-grid .projects-grid-card .readmorelink i {
  margin-left: 5px;
}
main .projects .projects-wrp .projects-button {
  display: flex;
  justify-content: center;
  padding: 10px 0 40px 0;
}
@media (min-width: 1200px) {
  main .projects .projects-wrp .projects-button {
    padding: 70px 0 90px 0;
  }
}
main .brand-display {
  background-color: #FFFFFF;
  padding-top: 18px;
}
@media (min-width: 768px) {
  main .brand-display {
    padding-top: 36px;
  }
}
@media (min-width: 1200px) {
  main .brand-display {
    padding-top: 72px;
  }
}
main .brand-display .container-md {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
main .brand-display .container-md img {
  width: 20%;
  height: auto;
}
@media (min-width: 1200px) {
  main .brand-display .container-md img {
    height: 100%;
    width: auto;
  }
}
main .features {
  background-color: #FFFFFF;
  padding-top: 200px;
}
main .features .features-wrp {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
}
main .features .features-wrp .grey-rectangle {
  border: 1px solid #D1D1D1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  display: none;
}
@media (min-width: 800px) {
  main .features .features-wrp .grey-rectangle {
    display: block;
  }
}
@media (min-width: 1600px) {
  main .features .features-wrp .grey-rectangle {
    left: -100px;
    right: -100px;
  }
}
@media (min-width: 992px) {
  main .features .features-wrp {
    grid-template-columns: 19fr 31fr;
  }
}
main .features .features-wrp .features-left h2 {
  margin-bottom: 40px;
}
main .features .features-wrp .features-left .btn-generic {
  display: flex;
  justify-content: center;
  width: auto;
}
@media (min-width: 992px) {
  main .features .features-wrp .features-left .btn-generic {
    width: 94%;
  }
}
main .features .features-wrp .features-left .btn-generic a {
  color: #191919;
  text-decoration: none;
}
main .features .features-wrp .features-right {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
main .features .features-wrp .features-right .features-right-grid {
  display: grid;
  row-gap: 66px;
  grid-template-columns: 1fr;
  column-gap: 72px;
}
@media (min-width: 576px) {
  main .features .features-wrp .features-right .features-right-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  main .features .features-wrp .features-right .features-right-grid {
    column-gap: 144px;
  }
}
@media (min-width: 992px) {
  main .features .features-wrp .features-right .features-right-grid {
    column-gap: 36px;
  }
}
@media (min-width: 1200px) {
  main .features .features-wrp .features-right .features-right-grid {
    column-gap: 72px;
  }
}
@media (min-width: 1400px) {
  main .features .features-wrp .features-right .features-right-grid {
    column-gap: 144px;
  }
}
main .features .features-wrp .features-right .features-right-grid .features-right-card {
  padding-bottom: 0;
  width: 80vw;
  position: relative;
}
@media (min-width: 576px) {
  main .features .features-wrp .features-right .features-right-grid .features-right-card {
    width: 227px;
  }
}
main .features .features-wrp .features-right .features-right-grid .features-right-card p {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 15px;
}
main .features .features-wrp .features-right .features-right-grid .features-right-card .features-right-card-heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 23px;
}
main .features .features-wrp .features-right .features-right-grid .features-right-card .icon-sparkles-a {
  position: absolute;
  left: 15px;
  top: -6px;
}
main .features .features-wrp .features-right .features-right-grid .features-right-card .icon-sparkles-b {
  position: absolute;
  left: 38px;
  top: -2px;
}
main .features .features-wrp .features-right .features-right-grid .features-right-card .icon-sparkles-c {
  position: absolute;
  left: 46px;
  top: 10px;
}

footer {
  background-color: #0E1021;
  color: #FFFFFF;
}