$small-breakpoint-width: 576px;
$medium-breakpoint-width: 768px;
$large-breakpoint-width: 992px;
$xlarge-breakpoint-width: 1200px;
$xxlarge-breakpoint-width: 1400px;
$hover-color: #aaaaaa;
$grey-bg: #F0EFE9;
$white-bg: #FFFFFF;
$black-bg: #0E1021;
$black-font-color: #191919;
$dark-grey-font-color: #5E5E5E;
$white-font-color: #FFFFFF;
$grey-border: 2px solid #DAD9D3;
* {
    box-sizing:border-box; 
    // border:solid 1px;  //debug only
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;600;700;900&family=Josefin+Sans:wght@300&display=swap');

html, body {
    color: $black-font-color;
    background-color: $grey-bg;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 0 10px 0 10px;
    @media (min-width: $medium-breakpoint-width){
        font-size: 60px;
    }
    @media (min-width: $xlarge-breakpoint-width){
        font-size: 96px;
        //padding: 0px;
    }
}
h2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    @media(min-width: $xlarge-breakpoint-width){font-size: 45px;}
}
h4 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    @media(min-width: $xlarge-breakpoint-width){font-size: 18px;}
    color: #F94D1C;
    font-weight: 500;
}
h6{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $dark-grey-font-color;
}
.btn-generic{
    display:flex;
    color: $black-font-color;
    text-decoration:none;
    //padding: 13px 25px;
    padding-left: 28px;
    padding-right: 22px;
    height: 52px;
    align-items: center;
    border-radius: 26px;
    font-weight: 600;
    font-size: 14px;
    @media (min-width: $medium-breakpoint-width){
        font-size: inherit;
    }
    i {
        margin-left:18px;
        font-size: 0.9em;
    }
    
    &.btn-yellow {
        background-color: #F9D783;
        border: 1px solid #F9D783;
    }
    &.btn-transparent {
        background-color: transparent;
        border: 1px solid $black-font-color;
    }
    &.btn-grey {
        background-color: $grey-bg;
        border: 1px solid $black-font-color;
    }
    &.btn-black {
        background-color: $black-font-color;
        border: 1px solid $black-font-color;
        color: #FFFFFF;
    }
    &.btn-white {
        background-color: $white-font-color;
        border: 1px solid $black-font-color;
    }
    &:hover{
        background-color:$hover-color;
        border-color:$hover-color;
        color: #ffffff;
    }
}
.section-title{//h2+h4
    
    h4{
        margin-bottom:15px;
        @media(min-width: $large-breakpoint-width){margin-bottom:25px;}
    }
    
}
.info-card{
    padding-bottom: 0;
    p{
        margin-bottom: 0;
    }
    h6{
        margin-bottom: 10px;
        margin-top: 23px;
    }
}

header{
    background-color: $grey-bg;
    padding-bottom: 10px;
    //padding-right:19px;
    .header-wrp{
        height: 100px;
        @media(min-width: $medium-breakpoint-width){height: 121px;}
        display: grid;
        //border: 1px solid black; //debug only
        grid-template-columns: 70px auto;
        padding-left: 0;
        padding-right: 70px; //must be same as first column width in grid-template-columns in order to counter the burger button making logo uncentered.
        grid-template-areas:
            'header-burgerbutton header-logo';
        @media(min-width: $medium-breakpoint-width){
            grid-template-columns: 208px auto;
            grid-template-rows:50px auto;
            grid-template-areas:
                'header-logo header-top'
                'header-logo header-bottom';
            padding-right: 0px;
            padding-left: 19px;
        }
        .header-burgerbutton{
            grid-area: header-burgerbutton;
            //background-color: rgb(184, 128, 55); // debug only
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            @media(min-width: $medium-breakpoint-width){display: none;}
        }
        .header-logo{
            display: flex;
            grid-area: header-logo;
            //background-color:#6dc9cf; //debug only
            align-items: center;
            justify-content: center;
            @media(min-width: $medium-breakpoint-width){justify-content: left;}
        }
        .header-top{
            //background-color: pink; //debug only
            display: none;            
            @media(min-width: $medium-breakpoint-width){display: flex;}
            justify-content: space-between;
            //justify-content: flex-end;
            //@media(min-width: $xlarge-breakpoint-width){justify-content: space-between;}
            align-items: center;
            border-bottom: $grey-border;
            grid-area: header-top;
            .header-top-contactinfo{
                display:flex;
                font-size: 15px;
                font-weight: 300;
                a {
                    color: $black-font-color;
                    text-decoration: none;
                    &:hover{color:$hover-color;}                    
                }
                .header-top-contactinfo-contact{
                    border-left: $grey-border;
                    padding: 5px 0 2px 15px;
                    margin-left: 40px;                    
                    &#firstcontact{
                        border-left: none;
                        padding-left: 0;
                        margin-left: 0;
                    }
                    &#lastcontact{
                        display: none;
                        @media(min-width: $xlarge-breakpoint-width){display: block;}                        
                    }
                    i {padding-right: 8px;}                    
                }
            }
            .header-top-somedicons{                
                a{
                    color: $black-font-color;
                    padding-left:15px;
                    &:hover{
                        color:$hover-color;
                    }
                }
            }
        }
        .header-bottom {
            //background-color: aquamarine; //debug only
            display: none;
            @media(min-width: $medium-breakpoint-width){display: flex;}
            justify-content: space-between;
            align-items: flex-end;
            // align-items:center;
            // @media(min-width: $xlarge-breakpoint-width){align-items: end;}
            grid-area: header-bottom;
            nav{
                width: 300px;
                display: flex;
                justify-content: space-between;
                font-size:16px;
                font-weight: 400;                
                .current-nav, a:hover {//underline nav words...
                    position: relative;
                    &::before {
                      content: ""; // dummy element 
                      position: absolute;
                      bottom: -3px; // dist below word
                      left: 50%; // Center underline hz dir
                      transform: translateX(-50%); // Center line under word
                      width: 17px; 
                      border-bottom: 2px solid $black-font-color;
                    }
                }
                a{
                    color:$black-font-color;
                    text-decoration: none;
                    &:hover{
                        color:$hover-color;
                        &::before{
                            border-bottom: 2px solid $hover-color;
                        }
                    }                    
                }
            }
        }
    }
}
main {
    .showcase{
        position: relative;
        background-color:$grey-bg;
        //background-color: #ffe760; // debug only
        z-index: 0;
        .showcase-wrp{
            //background-color: #96ff8d; //debug only
            display: flex;
            padding:20px 0 20px 0;
            @media(min-width: $xlarge-breakpoint-width){padding: 0;}
            .showcase-content{
                gap: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // @media(min-width: $medium-breakpoint-width){padding-left:25px;}
                // @media(min-width: 1300px){padding-left:inherit;}
                h1{
                    text-align: center;
                    @media (min-width: $xlarge-breakpoint-width){text-align:inherit;}
                }
                .showcase-paragraph{
                    font-family: 'Inter', sans-serif;
                    font-weight: 300;
                    font-size: 20px;
                    color: #5A5957;
                    padding: 0 10px 0 10px;
                    text-align: center;
                    @media (min-width: $xlarge-breakpoint-width){
                        text-align:inherit;
                        padding: 0px;
                    }
                }
                .showcase-content-buttons{
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    @media (min-width: $xlarge-breakpoint-width){
                        justify-content: flex-start;
                    }
                } 
            }
            .showcase-picture{
                position: relative;
                .showcase-picture-main{
                    display: none;
                    @media (min-width: $xlarge-breakpoint-width){
                        display: block;
                        padding-right:100px;
                        padding-top: 50px;
                    }
                }
                .showcase-picture-squiggle{
                    position:absolute;
                    right: -65px;
                    //left: 446px;
                    top: 375px;
                    display: none;
                    
                    @media(min-width: $xlarge-breakpoint-width){display:block;}
                }
            }
        }
        .showcase-white-squiggle{
            position: absolute;
            bottom: 0;
            display: block;
            z-index: -1;
            width: min(100%, 70vw);
        }
    }
    .projects{
        background-color: $white-bg;
        .projects-wrp{
            
            @media(min-width: $large-breakpoint-width){text-align: center;}
            h4{
                padding-top: 32px;
                @media(min-width: $xlarge-breakpoint-width){padding-top: 124px;}
            }
            h2{
                margin-bottom: 32px;
                @media(min-width: $xlarge-breakpoint-width){margin-bottom:86px;}
            }
            .projects-grid{
                display: grid;
                grid-template-columns: 1fr;
                @media(min-width: $large-breakpoint-width){grid-template-columns: 1fr 1fr;}
                gap: 30px;
                .projects-grid-card{
                    color: $black-font-color;
                    text-decoration: none;
                    display: grid;
                    grid-template-rows: auto 1fr auto;
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                    h6{
                        text-align: start;
                        border-bottom: 3px solid #E7E7E7;
                        padding-bottom: 12px;
                        padding-top: 12px;
                        margin-bottom: 12px;
                        @media(min-width: $xlarge-breakpoint-width){
                            padding-top: 38px;
                            margin-bottom: 38px;
                        }
                    }
                    &:hover{
                        .readmorelink, h6{
                        //text-decoration:underline;
                        color: $hover-color;
                        }
                    }
                    .readmorelink{
                        text-align: end;
                        font-size: 14px;
                        font-weight: 500px;
                        i{margin-left:5px;}
                        color: $black-font-color;
                    }
                }
            }
            .projects-button{
                display:flex;
                justify-content: center;
                padding: 10px 0 40px 0;
                @media(min-width: $xlarge-breakpoint-width){padding: 70px 0 90px 0;}
            }
        }
    }
    .brand-display{
        background-color: $white-bg;
        padding-top: 18px; padding-bottom: 18px;
        @media(min-width: $medium-breakpoint-width){padding-top: 36px; padding-bottom:36px}
        @media(min-width:$xlarge-breakpoint-width){padding-top: 96px; padding-bottom:105px;}
        .container-md{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right:20px;
            @media(min-width: $xlarge-breakpoint-width){
                padding-left: 40px;
                padding-right:40px;
            }
            img {
                width: 17%;
                height: auto;
                @media(min-width: $small-breakpoint-width){width:15%;}
                @media(min-width: $xlarge-breakpoint-width){
                    height: 100%;
                    width: auto;        
                }
            }
        }
    }
    .features{
        background-color: $white-bg;
        
        
        .features-wrp{
                position:relative;
                z-index: 0;
                .grey-rectangle{
                    border: 1px solid #D1D1D1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -20px; right: -20px;
                    display:none;
                    @media(min-width: 800px){display: block;}
                    @media(min-width: 1600px){left: -100px; right: -100px;}
                    z-index: -1;
                }
                padding-top: 30px; padding-bottom: 30px;
                @media(min-width: $medium-breakpoint-width){
                    padding-top: 60px; padding-bottom: 60px;
                }
                @media(min-width: $xlarge-breakpoint-width){
                    padding-top: 80px; padding-bottom: 100px;
                }
            display: grid;
            grid-template-columns: 1fr;
            @media(min-width: $large-breakpoint-width){grid-template-columns: 19fr 31fr;}
            
            .features-left{
                h2{
                    margin-bottom: 40px;
                    
                }
                .features-button{
                    display: flex;
                    padding-left: 20px;
                    @media(min-width: $large-breakpoint-width){padding-left: 0;}
                    .btn-generic{
                        display: flex;
                        justify-content: center;

                        width: 250px;
                        
                        @media(min-width: $large-breakpoint-width){width: 94%;}
                        a{
                            color: $black-font-color;
                            text-decoration: none;
                        }
                    }
                }
            }
            .features-right{
                display: flex;
                justify-content: center;
                padding-top: 35px;
                .features-right-grid{
                    display: grid;
                    
                    row-gap: 66px;
                    grid-template-columns: 1fr;
                    @media(min-width: $small-breakpoint-width){grid-template-columns: 1fr 1fr;}
                    column-gap: 72px;
                    @media(min-width: $medium-breakpoint-width){column-gap: 144px;}
                    @media(min-width: $large-breakpoint-width){column-gap: 36px;}
                    @media(min-width: $xlarge-breakpoint-width){column-gap: 72px;}
                    @media(min-width: $xxlarge-breakpoint-width){column-gap: 144px;}
                    .info-card{
                        width: 80vw;
                        position:relative;
                        @media(min-width: $small-breakpoint-width){width: 227px;}
                        
                        .icon-sparkles-a{
                            position: absolute;
                            left: 15px;
                            top: -6px;
                        }
                        .icon-sparkles-b{
                            position: absolute;
                            left: 38px;
                            top: -2px;
                        }
                        .icon-sparkles-c{
                            position: absolute;
                            left: 46px;
                            top: 10px;
                        }
                    }
                }
                    
                
            }

        }
    }
    .services{
        background-color: $grey-bg;
        position: relative;
        z-index: 0;   
        .services-wrp{
            padding: 0 12px;
            @media(min-width: $medium-breakpoint-width){padding: 0;}
            .section-title{
                h2{
                    margin-bottom: 10px;
                    @media(min-width: $large-breakpoint-width){margin-bottom: 40px;}
                }
            }
            .services-grid{
                display: grid;
                
                gap: 15px;
                padding:20px;
                grid-template-columns: minmax(200px, 1fr);
                @media(min-width: $small-breakpoint-width){
                    grid-template-columns: repeat(2, minmax(200px, 1fr));
                    gap:20px;

                }
                @media(min-width: $large-breakpoint-width){
                    grid-template-columns: repeat(4, minmax(200px, 1fr));
                    padding:0;
                }
                @media(min-width: $xlarge-breakpoint-width){
                    gap:30px;
                }
                .info-card{
                    background-color: $white-bg;
                    &.info-card-highlighted{
                        background-color: #F9D783;
                    }
                    padding: 30px 30px;
                    @media(min-width: $xlarge-breakpoint-width){padding: 48px 30px;}
                    .info-card-line{
                        width:39px;
                        border: 1px solid $black-font-color;
                    }
                    .info-card-heading{
                        margin-top:28px;
                    }
                    .service-button{
                        display: flex;
                        justify-content: flex-end;
                        margin-top:20px;
                        .btn-generic{
                            width: 52px;
                            padding: 2px 2px 0 0;
                        }
                        .btn-white{
                            border:none;
                        }
                    }

                }
            }
            .services-button{
                display:flex;
                justify-content: center;
                padding: 10px 0 40px 0;
                @media(min-width: $xlarge-breakpoint-width){padding: 50px 0 120px 0;}
            }
            
            
        }
        .services-white-squiggle{
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: none;
            @media(min-width: 300px){display: block;}
        }
    }
    .whychooseus{
        background-color: $white-bg;
        padding-top: 64px;
        position: relative;
        z-index: 0;
        .whychooseus-wrp{
            display: grid;
            grid-template-areas:
                'section-title'
                'whychooseus-picture'
                'whychooseus-content';
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            @media(min-width: $large-breakpoint-width){
                grid-template-areas: 
                    'section-title whychooseus-picture'
                    'whychooseus-content whychooseus-picture';
                grid-template-columns: 50% 1fr;
                grid-template-rows: 1fr;
            }
            @media(min-width: $xlarge-breakpoint-width){grid-template-columns: 40% 1fr;}
            @media(min-width: $xxlarge-breakpoint-width){grid-template-columns: 33% 1fr;}
            
            justify-content: space-between;
            .section-title{
                grid-area: section-title;
                background-color: rgba(255, 255, 255, 0.7);
                //background-color: rgba(234, 232, 224, 0.7); // equals to 240 239 233 in front of white bg
            }
            .whychooseus-content{
                grid-area: whychooseus-content;
                //background-color: rgba(252, 252, 252, 0.7);
                background-color: rgba(255, 255, 255, 0.7);
                
                .whychooseus-content-cards{
                    .whychooseus-content-card{
                        padding-top: 40px;
                        display: flex;
                        @media(min-width: $small-breakpoint-width){padding-left: 30px;}
                        @media(min-width: $large-breakpoint-width){padding-left: inherit;}
                        .whychooseus-content-card-icon{
                            img{
                                border: 1px solid #e7e7e7;
                                border-radius: 50px;
                                padding: 13px;
                            }
                        }
                        .info-card{
                            margin-left: 30px;
                            h6{
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
            .whychooseus-picture{
                grid-area:whychooseus-picture;
                position: relative;
                display: flex;
                justify-content: center;;
                img{
                    width: 85vw;
                    position: static;
                    @media(min-width: $large-breakpoint-width){
                        position: absolute;
                        right: 0; 
                        bottom: 15px;
                        width: 50vw;
                        height: auto;
                    }
                    @media(min-width: $xlarge-breakpoint-width){bottom: 25px; width: auto;}
                    @media(min-width: $xxlarge-breakpoint-width){bottom: 98px;}
                    z-index: -1;
                    height: 100%;
                    @media(min-width: $xlarge-breakpoint-width){height: auto;}
                }
            }
        }
        .grey-box{
            background-color: $grey-bg;
            position: absolute;
            display: none;
            @media(min-width: $xlarge-breakpoint-width){display: block;}
            
            
            bottom: 0;
            right: 0;
            z-index: -2;
            top: 270px;
            width: calc(50vw + 100px);
            @media(min-width: $xxlarge-breakpoint-width){width: calc(50vw + 115px);}
           
        }
    }
}
footer{
    background-color: $black-bg;
    color: $white-font-color;
}